.card {
    font-size: 1.1rem;
    margin: 25px;
    border: 2px solid black;
    width: 450px;
}

.card-container {
    margin: 20px;
    padding: 10px;
}

.quote{
    text-align: end;
}

.author{
    text-align: end;
    font-weight: 700;
}