:root {
    font-size: 18px;
    --color-a: #b09535;
    --color-b: #705f22;
    --title-color: #f0cc47;
    --color-d: #fcd64c;
    --color-e: #d6b640;
}

.navbar-component {
    font-family: "Libre Baskerville", serif;
}

.navbar-component:hover {
    animation-name: navbar-animation;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
}

@keyframes navbar-animation {
    100% {
        box-shadow: 0px 0px 50px var(--title-color)
    }
}

.navbar-brand {
    font-weight: 800;
    font-size: 1.5rem;
    position: relative;
    left: 10px;
    color: var(--title-color);
    margin: 0px 50px 0px 0px;
}

.navbar-brand:hover {
    animation-name: navbar-brand-hover-animation;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes navbar-brand-hover-animation {
    100% {
        text-shadow: 5px 5px black;
        font-size: 1.55rem;
    }
}

.linker {
    font-family: 'Fira Sans', serif;
    text-decoration: none;
    color: #ffffff;
    margin: 5px 20px 0px 20px;
}

.linker:hover {
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    text-shadow: 3px 3px black;
}
