/* Variables base */
:root {
    font-size: 18px;
    --color-a: #b09535;
    --color-b: #705f22;
    --title-color: #f0cc47;
    --color-d: #fcd64c;
    --color-e: #d6b640;
    --background-color: #343a40 !important;

    --margintop-submit-button: 0px;
    --marginbot-submit-button: 0px;
}

@media (max-width: 575px) {
    :root {
        font-size: 18px;
        --color-a: #b09535;
        --color-b: #705f22;
        --title-color: #f0cc47;
        --color-d: #fcd64c;
        --color-e: #d6b640;
        --background-color: #343a40 !important;

        --margintop-submit-button: 15px;
        --marginbot-submit-button: 15px;
    }
}

body {
    background-color: var(--background-color);
}

.Register {
    font-family: "Libre Baskerville", serif;
    /* background-color: var(--color-d); */
    box-shadow: 0px 0px 25px rgba(45, 45, 45, 0.7);
    background: linear-gradient(35deg, var(--color-a), var(--color-d));
    border: 1px solid black;
    border-radius: 5px;
}

.Register:hover {
    animation-name: register-card-animation;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}

@keyframes register-card-animation {
    100% {
        border: 1px solid white;
        box-shadow: 0px 0px 60px rgba(255, 255, 255, 0.7);
    }
}

h1 {
    margin: 25px;
    text-align: center;
    font-weight: 800;
    padding: 20px;
    color: #343a40 !important;
}

h1:hover {
    animation-name: h1-hover-animation;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes h1-hover-animation {
    100% {
        text-shadow: 2px 2px white;
    }
}

.box {
    width: 500px;
    padding: 25px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.submit-button {
    font-family: "Fira Sans", serif;
    border: 2px solid black;
    background-color: var(--title-color);
    border-color: var(--color-b);
    border-radius: 4px;
    font-size: 1.2rem;
    color: black;
    width: 125px;
    margin-top: var(--margintop-submit-button);
    margin-bottom: var(--marginbot-submit-button);
}

.submit-button:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    animation-name: submit-button-hover-animation;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes submit-button-hover-animation {
    100% {
        border-color: white;
        color: white;
        text-shadow: 2px 2px #000;
    }
}

.submit-button:active {
    background-color: var(--color-d);
}

.label {
    font-weight: 700;
}

[type="text"],
[type="password"] {
    border-radius: 0px;
    border-color: var(--color-b);
    font-family: "Fira Sans", serif;
}

[type="text"]:focus,
[type="password"]:focus {
    animation-name: input-focus-animation;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes input-focus-animation {
    100% {
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
        border-color: white;
    }
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.register-button {
    font-family: "Fira Sans", serif;
    margin: 20px;
    background-color: var(--color-a);
    border-color: var(--color-b);
    width: 7rem;
    padding: 5px 10px 5px 10px;
}

.register-button:hover {
    animation-name: register-button-hover-animation;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes register-button-hover-animation {
    100% {
        border: 2px solid white;
        color: #fff;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }
}

.register-button:active {
    background-color: var(--title-color);
    border-color: var(--color-e);
}

.register-button:focus {
    background-color: var(--title-color);
    border-color: var(--color-e);
}

.brightness:focus, .brightness:hover{
    box-shadow: 0px 0px 15px var(--title-color)!important;
}
